<h1>E-velosipēdu noma</h1> 
<br/>
<strong>Nomas saraksts:</strong> saraksts ar darbinieki kuri rezervēja elektrisko velosipēdu.
<br/>

<strong>Jauna rezervācija:</strong> ievadiet savus datus, lai izmantotu elektrisko velosipēdu.