<!--- Šeit tiek ievadīta jauna rezervācija par elektorniskā velosipēda nomu --->
<h1>Jauna E-velosipēda rezervācija</h1>
<br/>

<%= render 'form', darbinieki: @darbinieki %>

<br/>

<%= link_to 'Uz Darbinieku sarakstu', darbiniekis_path, class: "btn btn-dark" %>
